@model IEnumerable<MVCProject.Models.Category>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
                    <h2 class="text-primary" style="color:white!important">Categories</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;
                Create Category
            </a>
        </div>
    </div>
    
</div>

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Id)

            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Name)

            </th>
            <th>
                @Html.DisplayNameFor(model=>model.DisplayOrder)

            </th>
            <th>
                @Html.DisplayNameFor(model=>model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model=>item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model=>item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model=>item.DisplayOrder)
                </td>
                <td>
                    @Html.DisplayFor(model=>item.CreatedDate)
                </td>
                <td>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>&nbsp;&nbsp;&nbsp;
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }

    </tbody>
</table>